@page
@model TorneoFutbol.App.Frontend.Pages.Estadios.AddMunicipioModel
@{
}
<h1>Asignar Municipio</h1>
<form method="post">
    <div class="form-group">
        <label for="IdEstadio">Estadio</label>
        <input type= "text" id = "IdEstadio" name="IdEstadio" class="form-control" value="@Model.estadio.Id" readonly>
    </div> 
    <div class="form-group">
        <label for="IdMunicipio">Municipio</label>
        <select name="IdMunicipio" id="IdMunicipio" name = "IdMunicipio" class="form-control">
            @foreach (var municipio in Model.municipios)
            {
                <option value = "@municipio.Id">@municipio.Nombre</option>
            }

        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Asignar Municipio</button>
</form>
<br><br><a class="btn btn-secondary" asp-page="./Index">Volver</a>